@model IndignadoFramework.UI.Mvc4.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}
<div class="post">
<div class="convocatoria">

<p class="message-info">
    La nueva contraseña debe tener @Membership.MinRequiredPasswordLength caracteres de largo.
</p>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "El cambio de contrasela fue insatisfactorio. Por favor verifique sus datos.")

    <fieldset>
        <legend>Cambio de contraseña</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.vcontraseña)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.vcontraseña)
                @Html.ValidationMessageFor(m => m.vcontraseña)
            </div>
            <br />
            <div class="editor-label">
                @Html.LabelFor(m => m.ncontraseña)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ncontraseña)
                @Html.ValidationMessageFor(m => m.ncontraseña)
            </div>
            <br />
            <div class="editor-label">
                @Html.LabelFor(m => m.ccontraseña)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ccontraseña)
                @Html.ValidationMessageFor(m => m.ccontraseña)
            </div>
            <br />
        <input class="boton" type="submit" value="Confirmar" />
    </fieldset>
}
 </div>
    </div>